.places__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .places__list {
    gap: 72px;
  }
}

@media screen and (max-width: 610px) {
  .places__list {
    gap: 50px;
  }
}