.cover {
  position: relative;
  z-index: 1;
  padding: 245px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  text-align: center;
  background: url(../../images/cover-trains.jpg) center/cover no-repeat;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: calc(100% + 48px * 2);
    left: -48px;
    box-sizing: border-box;
    padding: 195px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    left: 0;
    padding: 115px 0;
  }
}

@media screen and (max-width: 546px) {
  .cover {
    padding: 33px 0;
    gap: 16px;
  }
}