.cover {
  display: flex;
  min-height: 740px;
  background: url(../../images/cover-trains.jpg) center/cover no-repeat;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
    width: calc(100% + 48px * 2);
    left: -48px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 546px) {
  .cover {
    min-height: 200px;
    gap: 16px;
  }
}